@import "compass";
@import "support_vendor_prefix";
@import "vendor_prefixed_mixin";
$sprites-spacing: 4px;



@mixin sprite-base-bg($sprites, $sprite-img, $pixelRatio:2) {
  background: $sprite-img no-repeat;
  $sprite-file-data: sprite-path($sprites);
  @include prefixed-property("background-size", ceil(image-width($sprite-file-data) / $pixelRatio) auto);
}

@mixin sprite-bg($sprites, $file-name, $pixelRatio:2) {
  $sprite-file-data: sprite-file($sprites, $file-name);
  background-position: round(nth(sprite-position($sprites, $file-name), 1) / $pixelRatio) round(nth(sprite-position($sprites, $file-name), 2) / $pixelRatio);
  height: ceil(image-height($sprite-file-data) / $pixelRatio);
  width: ceil(image-width($sprite-file-data) / $pixelRatio);
}

/*----------------------------------------------------*/


/*PC---TOP*/


$sprites: sprite-map("/parts/*.png", $spacing: $sprites-spacing);
$sprites-img: sprite-url($sprites);




