@charset "UTF-8";
/*common*/
@import "compass";
@import "base";

@import "settings";

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.is-sprite {
	@include sprite-base-bg($sprites, $sprites-img, 2);
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}


.top-title {
	color: #fff;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	letter-spacing: 2;
	margin-bottom: 24px;
	margin-top: 150px;
}

.title-border {
	width: 50px;
	height: 1px;
	background :#000;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom :50px;
}



.top-text {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	line-height :2;
	text-align: center;
	
}

.header {
	height: 700px;
	width: 100%;
	background-image: url('/image/pc-top-bg.png');
	background-size: cover;
}



.top-logo {
	@include sprite-bg($sprites, 'pc-top-logo', 2);
	float: left;
	margin-left: 100px;
	margin-top :12px;
}


.nav-wrap {
	float: right;
	margin-top: 48px;
	margin-right: 80px;
}

.nav-list {
	float: left;
	margin-left: 12px;
}

.nav-link {
	font-size: 14px;
	color: #fff;
	font-family: impact;
}

//ABOUT

.section-about-wrap,
.section-portfolio-wrap,
.section-news-wrap,
.section-contact-wrap {
	margin-top: 88px;
}

.about-prof-wrap,
.about-prof-text-wrap,
.portfolio-list-wrap,
.news-list-wrap,
.contact-text-wrap {
	width: 500px;
	margin: 0 auto;
}

//about-profile

.about-prof-wrap {
	margin-bottom: 24px;
}

.section-title {
	text-align: center;
}

.about-prof-img {
	@include sprite-bg($sprites, 'pc-about-profile', 2);
	float: left;
}

.about-prof-name {
	font-size: 14px;
	font-weight: 600;
	float: left;
	margin-left: 32px;
	margin-top: 42px;
}

.about-prof-text,
.about-prof-list-solo-show,
.about-prof-list-group-show {
	font-size: 12px;
	font-weight: 300;
	font-family: 'ヒラギノ角ゴ Pro W3';
	text-align: left;
	line-height: 2;
}

.about-prof-list-title {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 14px;
}

.about-prof-text,
.about-prof-list-solo-show:last-child {
	margin-bottom: 36px;
}

.about-prof-list-group-show:last-child {
	margin-bottom: 88px;
}

.about-prof-bottom-bg {
	height: 600px;
	width: 100%;
	background-image: url('/image/pc-about-bg.png');
	background-size: cover;
}



//portfolio

.portfolio-bottom-bg {
	height: 600px;
	width: 100%;
	background-image: url('/image/pc-portfolio-bg.png');
	background-size: cover;
}

.portfolio-list-wrap {
	width: 1000px;
}

.portfolio-img-title_01,
.portfolio-img-title_02 {
	margin-bottom: 12px;
}

.portfolio-img-wrap-star {
	margin-top: 42px;
	margin-bottom: 88px;
}


.portfolio-img { 
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}


.portfolio-img_01 {
	@include sprite-bg($sprites, 's01-img_01', 2);
}
.portfolio-img_02 {
	@include sprite-bg($sprites, 's01-img_02', 2);
}

.portfolio-img_03 {
	@include sprite-bg($sprites, 's01-img_03', 2);
}

.portfolio-img_04 {
	@include sprite-bg($sprites, 's01-img_04', 2);
}

.portfolio-img_05 {
	@include sprite-bg($sprites, 's01-img_05', 2);
}

.portfolio-img_06 {
	@include sprite-bg($sprites, 's01-img_06', 2);
}

.portfolio-img_07 {
	@include sprite-bg($sprites, 's01-img_07', 2);
}

.portfolio-img_08 {
	@include sprite-bg($sprites, 's01-img_08', 2);
}
.portfolio-img_09 {
	@include sprite-bg($sprites, 's01-img_09', 2);
}
.portfolio-img_10 {
	@include sprite-bg($sprites, 's01-img_10', 2);
}
.portfolio-img_11 {
	@include sprite-bg($sprites, 's01-img_11', 2);
}
.portfolio-img_12 {
	@include sprite-bg($sprites, 's01-img_12', 2);
}
.portfolio-img_13 {
	@include sprite-bg($sprites, 's01-img_13', 2);
}
.portfolio-img_14 {
	@include sprite-bg($sprites, 's01-img_14', 2);
}


//news


.news-bottom-bg {
	height: 600px;
	width: 100%;
	background-image: url('/image/pc-news-bg.png');
	background-size: cover;
}

.news-list:last-child {
	margin-bottom: 88px;
}

//contact

.contact-text {
	font-size: 12px;
	font-weight: 300;
	font-family: 'ヒラギノ角ゴ Pro W3';
	text-align: left;
	line-height: 2;
}

//footer 
	
.footer {
		margin-right: 80px;
		margin-left: 100px;
		border-top: 1px solid #000;
		margin-top: 110px; 
		height: 80px;
}

.footer-copy {
	text-align: center;
	line-height: 80px;
}

.sns-wrap {
	float: right;
	margin-top: -50px;
}

.sns {
	float: left;
	margin-left: 12px;
}

.fb-btn {
	@include sprite-bg($sprites, 'fb-btn', 2);
}

.insta-btn {
	@include sprite-bg($sprites, 'insta-btn', 2);
}


.tumblr-btn {
	@include sprite-bg($sprites, 'tumblr-btn', 2);
}
